.typing-test {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  outline: none;
  color: #ccc;
  white-space: pre-wrap;
}

.curr-letter {
  background-color: rgba(255, 255, 255, 0.2);
  color: white !important;
}

.wrong {
  color: red !important;
}

.tab-return {
  font-size: 1.2rem;
  opacity: 0.3;
}
