@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body,
html,
#root {
  padding: 0;
  margin: 0;
  background-color: #2d2d2d;
  height: 100vh;
  font-family: "Roboto";
  font-size: 1.5rem;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#splash {
  font-size: 2rem;
  color: #ccc;
  justify-self: center;
}

#game {
  width: 100%;
  height: 50%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#clock {
  font-size: 2rem;
  color: #ccc;
}

#result {
  align-self: center;
  font-size: 2rem;
  color: #ccc;
}

#language-logo {
  width: 3rem;
}
