.typing-game-wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  font-size: 1.5rem;
}

.snippet {
  position: absolute;
}

.typing-test {
  position: absolute;
  margin-top: +10px;
  margin-left: +2px;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  line-height: 1.5;
  outline: none;
  z-index: 2;
  color: transparent;
}

.curr-letter {
  color: aliceblue;
  text-decoration: underline !important;
}

@keyframes blinking {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}
